window {
    background-color: rgba(40, 42, 54, 0.9); /* Fondo Dracula con transparencia */
    font-family: "JetBrainsMono Nerd Font";
}

button {
    color: #f8f8f2;
    background-color: #282a36;
    outline-style: none;
    border: 2px solid #bd93f9;
    border-radius: 20px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s ease;
}

/* Solo cuando pasás el mouse */
button:hover {
    background-color: #bd93f9;
    color: #282a36;
    border: 2px solid #ff79c6;
}



/* Iconos específicos (usando las clases por defecto de wlogout) */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png")); 
}
